:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

.heading {
  text-align: center;
}
.search_bar {
  padding: 0.8rem 3.4rem;
  font-size: 1.1em;
  border-radius: 50px;
  border: 0.3px solid gray;
  margin-bottom: 2.5rem;
}

.container {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.employee_list_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  column-gap: 2rem;
}

.search_container{
  position: relative;
}

.search_icon{
  position: absolute;
  right: 11px;
  top: 0;
  bottom: 43px;
  margin: auto 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media only screen and (max-width: 700px) {
  .employee_list_container {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 400px) {
  .employee_list_container {
    grid-template-columns: auto;
  }
  .search_bar {
    padding: 0.8rem 2rem;
  }
  .heading{
    font-size: 1.7em;
  }
}
